.user-img {
	height: 100px;
}

.details {
	display: flex;
}

.detail-img {
	height: 100%;
}

.detail-content {
}

.msg {
	padding: 1em;
}

.msg.ok {
	color: white;
	background-color: green;
}

.msg.err {
	color: white;
	background-color: tomato;
}
