{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}

<div class="post-details mt-3">
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>

    <p><em>By {{post.user.full_name}} on {{post.friendly_date}}</em></p>
    {% if post.tags %}
    <p>
        <b>Tags:</b>
        {% for tag in post.tags %}
        <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
        {% endfor %}
    </p>
    {% endif %}
    <form action="/posts/{{post.id}}/delete" method="POST">
        <a href="/users/{{post.user_id}}" class="btn btn-sm btn-outline-primary" role="button">Cancel</a>
        <a href="/posts/{{post.id}}/edit" class="btn btn-sm btn-primary" role="button">Edit</a>
        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
    </form>
</div>

{% endblock %}
