{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block content %}

<div class="details mt-3">
    <div class="float-left d-inline mr-3">
        <img class="user-img" src="{{user.image_url}}" alt="user-image">
    </div>

    <div>
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <div>
            <form class="inline-form" action="/users/{{user.id}}/delete" method="POST">
                <a href="/users/{{user.id}}/edit" class="btn btn-sm btn-primary" role="button">Edit</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

